footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;

  background: #b0e8df;
  color: #24337d;
}

#page_stack {
  height: auto;
  width: 100%;
  font-size: 30px;

  position: relative;
  text-align: center;
  margin: auto;
  flex: 1;
  padding: 20px;
}

