.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 250px;
    left: 0;
    background-color: #b0e8df;
    overflow-x: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #b0e8df;
    border-radius: 5px;
    opacity: 80%;
}

.sidenav h1 {
    padding: 10px 12px 10px 20px;
    color: #24337d;
    display: block;
    text-align: center;
}

.sidenav a {
    padding: 10px 12px 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #24337d;
    display: block;
}

.sidenav a:hover {
    background-color: #6e96db;
    color: #000;
}